<!-- filepath: /home/josh/Desktop/disco_app/templates/authentication/login.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login-container">
    <h1>Login</h1>
    
    <form method="POST" class="login-form" action="">
        {% csrf_token %}
        
        <div class="login-form-group">
            <label for="email">Email</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                required 
            >
        </div>
        
        <div class="login-form-group">
            <label for="password">Password</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                required 
            >
        </div>
        
        <input type="submit" class="login-submit" value="Login">
            Login
    </input>
    </form>
    
    <p class="login-register-link">
        Don't have an account? <a href="/register">Register here</a>
    </p>
</div>
{% endblock %}
